@model ExampleCheck.CurrencyPair

@{
    ViewData["Title"] = "Деталі";
}

<h1>Деталі</h1>

<div>
    <h4>Валютна пара</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PairType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PairType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstCurrencyNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstCurrencyNavigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondCurrencyNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondCurrencyNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Редагувати</a> |
    <a asp-action="Edit" asp-route-id="@Model?.Id">Повернутись</a>
</div>
