@model IEnumerable<ExampleCheck.ExchangeClient>

@{
    ViewData["Title"] = "Біржі";
}

<h1>Біржі, на яких зареєстрований користувач</h1>

<p>
    @{
        if (User.IsInRole("admin")) 
        {
        <a asp-action="Create">Створити новий запис</a>
        }
     }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExchangeClient1Navigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExchangeNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ExchangeClient1Navigation.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExchangeNavigation.Name)
            </td>
            <td>
                @{
                if (User.IsInRole("admin")) 
                {
                <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a>
                }}
                | <a asp-action="Details" asp-route-id="@item.Id">Подробиці</a> |
                @{
                if (User.IsInRole("admin")) 
                {
                <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
                }}
            </td>
        </tr>
}
    </tbody>
</table>
